{% extends 'base.html.twig.' %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('instr_home') }}">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('instr_les_plan') }}">Plannen lessen</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('instr_les_overzicht') }}">Lessen beheer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#wijzig" href="#">Gegevens wijzigen</a>


        <div class="modal fade" id="wijzig" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Wat wilt u wijzigen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ path('instr_wijzig',{password:'true'}) }}';">wachtwoord wijzigen</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ path('instr_wijzig',{password:'false'}) }}';">profiel wijzigen</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-7 offset-2">
            <h1 class="text-danger">Welkom instructeur</h1>
            <p>druk op een van de knoppen in de navigatiebalk om verder te gaan</p>
        </div>
    </div>
{% endblock %}