{% extends 'base.html.twig' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_instr_overzicht') }}">instructeurs</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_leden') }}">Leden<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_training_overzicht') }}">Trainingen</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-danger">{{ lid.firstName ~ " " ~ lid.preprovision ~ " " ~ lid.lastName }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                <th>datum</th>
                <th>tijd</th>
                <th>training</th>
                <th>instructeur</th>
                <th>locatie</th>
                </thead>
                <tbody>

                {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.lessonId.date|date('d-m-y') }}</td>
                        <td>{{ registration.lessonId.time|date('H:i') }}</td>
                        <td>{{ registration.lessonId.trainingId.name }}</td>
                        <td>{{ registration.lessonId.instructorId.firstName }}</td>
                        <td>{{ registration.lessonId.location.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



