{% extends 'base.html.twig' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('training_aanbod') }}">Trainings Aanbod</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('registratie') }}">Lid Worden</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('gedragsregels') }}">Gedragsregels<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Lokatie & contact</a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-7 offset-2">
            <h2 class="text-danger mt-4 mb-4">Gedragsregels</h2>
            <h5 class="text-danger">Wees vriendelijk tegen je medesporters</h5>
            <p>Schreeuw niet tegen mensen. Vloek niet onnodig. Maak niet teveel herrie. Zorg ervoor dat iedereen zich
                thuis voelt in de sportschool.</p>
            <h5 class="text-danger">Praat niet tegen mensen die midden in een set bezig zijn</h5>

            <p>Dit houdt in dat je iemand die bezig is met een oefening niet stoort! Geen vragenstellen, niet tegen
                diegene aankletsen, enzovoort. Iemand die serieus aan het trainen is heeft zijn concentratie nodig.
                Staar diegene ook niet aan terwijl deze bezig is.<br>

                Kijk niet vreemd op als iemand die je lastigvalt agressief reageert; je hebt erom gevraagd!</p>
            <h5 class="text-danger">Ga niet vóór iemand staan die de spiegel gebruikt</h5>

            <p>Om goed te trainen is het vaak nodig om je vorm te bekijken in de spiegel. Ga daarom nooit vóór iemand
                staan die hiermee bezig is. Dat is zéér onbeleefd!</p>
            <h5 class="text-danger">Gebruik een handdoek als je traint</h5>

            <p>Niets is zo erg als een toestel te moeten gebruiken dat nog nat is van het zweet van de vorige persoon…
                Als je traint, zorg er dan voor dat je het toestel na gebruik schoonveegt.</p>
            <h5 class="text-danger">Ruim je rotzooi op!</h5>

            <p>Laat geen losse gewichten of stangen op de grond liggen, maar leg deze terug waar ze horen. Laat ook geen
                zware gewichten aan een halter of op een apparaat zitten. De volgende persoon die het apparaat nodig
                heeft
                is misschien niet zo sterk als jij, en kan een blessure oplopen door het opruimen van jouw achtergelaten
                gewichten.</p>
            <h5 class="text-danger">Gooi niet met gewichten</h5>

            <p>Veel sporters denken dat het betalen van een abonnement hun het recht geeft te doen wat ze willen. Het is
            niet ongebruikelijk om mensen na een set de gewichten gewoon te zien neergooien. Dit is niet alleen
            gevaarlijk, maar het kan ook een kostbare zaak worden (ik heb getraind op een sportschool waar een hele
                nieuwe set dumbbells moest worden aangeschaft, omdat de oude set redelijk naar de knoppen was gegooid…).</p>
            <h5 class="text-danger">Hou de apparatuur niet onnodig bezet</h5>

            <p>Als je bezig bent met trainen, blijf dan niet op een apparaat zitten tussen je setjes door. Ten eerste is
            het beter voor je lichaam om je spieren even los te gooien, en ten tweede is dit zeer onvriendelijk
                tegenover een ander die eventueel tussen door een set wilt doen.</p>
            <h5 class="text-danger">Praat niet onnodig tijdens de training</h5>

            <p>Praten tussen je setjes door is niet erg. Wanneer dit echter constant en op luide toon gebeurt gaan mensen
            zich daaraan verschrikkelijk ergeren. Niet iedereen is geïnteresseerd in wat je het weekend allemaal hebt
            uitgespookt, of dat je relatie in het slop zit. Als je wilt praten, ga naar de bar of naar buiten, maar laat
                andere mensen rustig trainen.</p>
            <h5 class="text-danger">Laat je mobiele telefoon thuis, of zet deze in ieder geval uit</h5>

            <p>Ben je echt zo belangrijk dat je op de sportschool moet bellen? Zo ja, dan hoor je blijkbaar te werken, en
            niet te sporten! Het is zeer irritant als mensen bellen tijdens het sporten, zeker als daardoor andere
            mensen moeten wachten op hun beurt. Laat dat ding thuis! De sportschool is om te trainen, niet om te werken.
                Niemand is geïnteresseerd in jouw privé-leven.</p>
            <h5 class="text-danger">Gedraag je tegenover leden van de andere sekse</h5>

            <p>De sportschool is geen vrijgezellenbar. Als je elkaar echt leuk vindt, praat dan aan de bar of buiten
            verder. Veel mensen vinden het ook niet leuk om constant aangestaard te worden. Aan de andere kant, als je
            als vrouw gaat trainen in een miniem topje dat ook nog erg strak zit, kijk dan niet vreemd op als je bekeken
                wordt…</p>
            <h5 class="text-danger">Kleed je behoorlijk</h5>

           <p>Trek geen kleren aan die aanstoot kunnen geven of teveel bloot geven. Niet iedereen is geïnteresseerd in
            jouw blote buik of harige rug. Zorg er ook voor dat je kleding schoon is.<br>

            Denk goed na over wat je aantrekt; niet iedereen kan alles aan. Een zeer goede uitspraak heb ik gevonden in
               een Amerikaanse lijst: ‘Spandex is a privilege, not a right!’.</p>
            <h5 class="text-danger">Let op je persoonlijke hygiëne</h5>

           <p>Sommige mensen ruiken al als ze de sportschool binnenkomen. Anderen denken dat ze sportkleding twee weken
            aan kunnen houden zonder deze te wassen. Zorg ervoor dat je schoon en fris bent, en – in godsnaam! – gebruik
            deodorant!!!<br>

            Aan de andere kant: het is vreselijk om te moeten trainen in de lucht van iemands parfum of aftershave.
               Gebruik dit na het trainen, niet ervoor.</p>
            <h5 class="text-danger">Laat iemand meetrainen als het nodig is, maar gebruik je verstand</h5>

            <p>Als iemand de apparatuur waarmee jij werkt ook wilt gebruiken, wees dan zo galant dit toe te laten. Zorg er
            echter wel voor dat dit niet teveel werk inhoudt, zoals het iedere set opnieuw afstellen van de apparatuur,
            of het constant verwisselen van gewichten. Als jij met iemand mee wilt trainen, denk hier dan ook aan.
            Iemand van twee meter kan helaas zeer moeilijk tegelijk op hetzelfde apparaat trainen met iemand die 1.60 m
                is.</p>
            <h5 class="text-danger">Roddel niet!</h5>

            <p>Roddel niet over anderen in de sportschool. Wat anderen doen gaat jou helemaal niets aan. Als je wilt praten
                over mensen, ga dan naar buiten.</p>

            <p>Leef naar deze regels, en het verblijf op de sportschool wordt een stuk aantrekkelijker!</p>
        </div>
    </div>

{% endblock %}