{% extends 'base.html.twig' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('training_aanbod') }}">Trainings Aanbod<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('registratie') }}">Lid Worden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('gedragsregels') }}">Gedragsregels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Lokatie & contact</a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="text-danger">Trainingen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>naam</th>
                    <th>beschrijving</th>
                    <th>tijd</th>
                    <th>kosten</th>
                </tr>
                </thead>
                <tbody>
                {% for training in trainingen %}
                    <tr>
                        <td>{{ training.name }}</td>
                        <td>{{ training.description }}</td>
                        <td>{{ training.duration }}minuten</td>
                        <td>€{{ training.cost }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}