<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}training Factory{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="float-left">
                        <img src="{{ asset('img/logo.png') }}" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg">
                    <div class="float-right">
                        <p class="text-danger text-center">
                            {% if app.user %}
                                Welkom {{ app.user.firstName }}
                                <br>
                                {{ app.user.roles[0]|lower }}
                                <br>
                                <button type="button" class="btn btn-danger mt-1"
                                        onclick="location.href='{{ path('app_logout') }}'" name="uitlog">Uitloggen
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-danger mt-2"
                                        onclick="location.href='{{ path('app_login') }}'" name="login ">Inloggen
                                </button>
                            {% endif %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <hr class="border border-danger m-2">
{% endblock %}
{% block navbar %}
    <div class="container mt-2 mb-2 p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% block nav %}{% endblock %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block flash %}
    <div class="container p-0">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block body %}
    <div class="container border border-dark p-1">
        <div class="row">
            <div class="col">
                <img src="{{ asset('img/kickbox1.jpg') }}" class="d-none d-md-block img-fluid">
            </div>
            <div class="col">
                <img src="{{ asset('img/kickbox2.jpg') }}" class="d-none d-md-block img-fluid">
            </div>
            <div class="col">
                <img src="{{ asset('img/kickbox3.jpg') }}" class="d-none d-md-block img-fluid">
            </div>
        </div>
        {% block content %} {% endblock %}
    </div>

    <div class="container mt-2 p-0">
        <footer class="bg-secondary p-1">
            <p class="text-center text-danger">Training Centrum Den Haag 010 519 0532</p>
            <p class="text-center text-white">developd bij fastDevelopment 2016</p>
        </footer>
    </div>



{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
