{% extends 'base.html.twig' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('lid_home') }}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('lid_les_overzicht', {date:"now"|date('y-m-d')}) }}">Inschrijven op les<span
                    class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('lid_inschrijf_overzicht') }}">Overzicht inschrijvingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#wijzig" href="#">Gegevens wijzigen</a>


        <div class="modal fade" id="wijzig" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Wat wilt u wijzigen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ path('lid_wijzig',{password:'true'}) }}';">wachtwoord wijzigen</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ path('lid_wijzig',{password:'false'}) }}';">profiel wijzigen</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-danger">Inschrijven</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for i in 0..10 %}
                {% set date = "now"|date_modify("+"~i~" day")|date("d/m") %}
                {% set dateButton = "now"|date_modify("+"~i~" day")|date("Y/m/d") %}
            <button class="btn btn-danger" onclick="location.href='{{ path('lid_les_overzicht', {date:dateButton|date('y-m-d')}) }}';">{{ date }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <th>tijd</th>
                <th>training</th>
                <th>instructeur</th>
                <th>locatie</th>
                <th>inschrijven</th>
                </thead>
                <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.time|date('H:i') }}</td>
                        <td>{{ lesson.trainingId.name }}</td>
                        <td>{{ lesson.instructorId.firstName }}</td>
                        <td>{{ lesson.location }}</td>
                        <td><button class="btn btn-danger" onclick="location.href='{{ path('lid_inschrijven',{id:lesson.id}) }}';">inschrijven</button> </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



